.title__page {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 0.5em;
  color: #344e41;
}

#label__preco {
  margin-left: 210px;
  font-weight: bold;
  color: #588157;
}

#label__horas {
  margin-left: 210px;
  font-weight: bold;
  color: #588157;
}
#preco {
  font-size: 20px;
  font-weight: bold;
  color: #588157;
  text-align: center;
  margin-top: 10px;
}

#btnCalc {
  background-color: #a3b18a;
  color: whitesmoke;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
